.App {
  text-align: center;
  background-image: url(./images/newBg.png);
  background-size:cover;
  background-position: center;
  width:auto;
  height:auto;
}


.container{

  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction: row;
  flex-wrap:wrap;
  height:100vh;
}
 .box{
  width:180px;
  height:180px;
  background-color:white;
  cursor:pointer;

}
.container img{
  width:100px;
  height:100px;
  display:inline-block;
  padding:10px;
  
}
.container h3{
  text-transform: uppercase;
  color:dimgray
}

@media (max-width:600px){
  .App {
    text-align: center;
    background-image: url(./images/newBg.png);
    background-size:cover;
    background-position: center;
    width:auto;
    height: 150vh;
   
  }
  
}